[galaxy]
server_list = ansible_automation_hub, galaxy

[galaxy_server.ansible_automation_hub]
url=https://console.redhat.com/api/automation-hub/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3Mjk2Nzg3MDYsImp0aSI6IjM3YWZiY2ZiLTU1ZWMtNDM4Yy1iOGYwLWM0YjQ3Njg0YzI2ZCIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjphbWFyaXJvbUByZWRoYXQuY29tIiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiJlZDExYzE5MS04YmFlLTQ4MTItOTRjNy04Mzk2YmViYTViZGYiLCJzaWQiOiI3YzJmMDc2NC03YmVmLTQ5MTYtODFkOS1iOTk5ZjYwNDM5M2IiLCJzY29wZSI6Im9wZW5pZCBiYXNpYyBhcGkuaWFtLnNlcnZpY2VfYWNjb3VudHMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgb2ZmbGluZV9hY2Nlc3MifQ.jbMtFInU4XAB_8077MRzcMSi_tb8y723VhUUay1tkV6yRuHJxPdqvFt2ki-GtQZk65WQ7p5qqc5WfGZZX5Dvag

[galaxy_server.galaxy]
url=https://galaxy.ansible.com/
